/************************************************************************************
RESET
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
}

html{
		overflow-y:scroll;
}

body    {

	
}

img, fieldset {
	border: 0;
}

/* set image max width to 100% */
img {
/*	max-width: 100%; */
	height: auto;
	width: auto\9; /* ie8 */
}

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body {
	background:#404040;
	font: 12px/150% Arial, Helvetica, sans-serif;
	color: #ffffff;
}



a {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}
a:hover {
	text-decoration: underline;
	color: #808084;
}
p {
	margin: 0 0 1.2em;
	padding: 0;
}

/* list */
ul, ol {
	padding: 0;
	
}
li {
    float: left;
    list-style: none outside none;
    padding-right: 90px;
    font-size:18px;
    line-height: normal;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
	line-height: 1.4em;
	margin: 0px 0 .4em;
	color: #808084;
}
h1 {
	
	font: 2em/150% Georgia, serif;
	padding-bottom:1.3em;
}
h2 {
	font: 1.6em/150% Georgia, serif;
	
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1em;
}

/* reset webkit search input styles */
input[type=search] {
	-webkit-appearance: none;
	outline: none;
}
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/
#pagewrap, #sb-site {
	width: 897px;
	margin: 0 auto;
}

nav{
	float: left;
	padding-bottom:60px;
	visibility: hidden;

}


.m {
    color: #fef200;
}

.contact_details {
    color: #fef200;
    display: inline-block;
    width: 15px;
}


#contact-wrapper{
	width:505px;
	float:left;
}

#social{
	float:left;
}

#social > a {
    padding-right: 20px;
}

#mobile {
    color: #ffffff;
    float: left;
    font-size: 1.9em;
    padding-bottom: 30px;
    padding-right: 20px;
    margin-top: 20px;
}

#mobile a{
	color:#ffffff;
}

#mobile a:hover{
	text-decoration:none;
}
.nav-last{
	padding-right:0;
}

.cycle-slideshow{
	width:490px;
	float:left;
	padding-left: 1px;
}


.cycle-slideshow img {
    display: none;
}

.cycle-slideshow img.first { 
	display: block 
}

#slides img {
    padding-left: 1px;
}

#logo {
    float: left;
    padding-left: 17px;
    padding-top: 15px;
    width: 340px;
}

#logo img {
    width: 355px;
}

#body-copy{
	float:left;
	width: 355px;
	padding-left: 17px;
	padding-top: 17px;
}

.overlay {
    position: absolute;
    top: 108px;
    width: 492px;
    z-index: 1000;
}

.overlay > img {
    width: 492px;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	padding-top: 40px;
}



/************************************************************************************
CLEARFIX
*************************************************************************************/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; zoom: 1; }